@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cagliostro|Pacifico|Playfair+Display+SC|Shrikhand|Timmana');
:root {
    --primary: #f3f4f2;
    --secondary: #3d2d1f;
    --accent: brown;
    --hero-font: 'Raleway', sans-serif;
    --font-family1: 'Lato', sans-serif;
    --font-family2: 'Timmana', sans-serif;
    --font-family3: 'Amatic SC', cursive;
    --font-family4: 'Cagliostro', sans-serif;
    --font-family5: 'Shrikhand', cursive;
    --font-family6: 'Playfair Display SC', serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.hero {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    grid-gap: 20px;
    grid-template-areas:
    'margin margin margin margin margin'
    'margin left-image center right margin'
    'margin margin margin margin margin'    
}

.hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 1vw;
}

.hero-text-row {
    color: var(--secondary);
    font-family: var(--font-family);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.row-1 {
    font-size: 5.3em;
}

.row-2 {
    font-size: 5.4em;
}

.row-3 {
    font-size: 6em;
}

.row-3::before {
    content: '';
    height: 10px;
    width: 10px;
    background: var(--secondary);
}

.row-4 {
    font-size: 6em;
}

.left-image {
    background: url('./assets/page/left-image.jfif');
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.right-image {
    background: url('./assets/page/right-image.jfif');
    background-size: cover;
    background-position-x: right;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.hero2 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.main-img {
    background: url('./assets/page/pexels-photo.jpg');
    background-size: cover;
    background-position-x: center;
    grid-column: 5 / 9;
    grid-row: 2 / 7;
    box-shadow: 1rem 1rem black;
     /* rgba(0, 255, 255 , 1); */
}

.header {
    background: yellow;
    color: black;
    font-size: 24px;
    font-weight: 800;
    grid-column: 7 / 11;
    grid-row: 5;
    align-items: flex-start;
    max-height: 50px;
    padding: 10px;
    box-shadow: 1rem 1rem black;
    text-align: center;
}